.detailartikel{padding: 10px 10px 10px 10px; margin-left: 20px; margin-right: 20px; text-align: justify; border: solid aqua; background-color: aqua;}
.detail h1{font-size: 16px; color: black; margin-top: -10px; margin-bottom: -10px;}

.artikelcontainer{margin-left: 20px; margin-right: 20px; padding: 20px;}
.artikel h1{font-size: 16px; font-weight: bold; text-align: justify;}
.artikel hr{border-left: none; border-right: none; border-top: none; border-bottom: solid red;}
.artikel p{font-size: 14px; text-align: justify;}