<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    Detail Artikel  
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="artikelcontainer">
  <div class="artikel">
  <h1 name="judul1" id="judul1"></h1>
  <h1><p>JUDUL 1</p></h1> <br>
  <p>PADA SUATU HARI</p> <br>
  <hr>
  <p name="konten1" id="konten1"></p>
</div>

<div class="artikel">
  <h1 name="judul2" id="judul2"></h1>
  <hr>
  <p name="konten2" id="konten2"></p>
  <h1><p>JUDUL 2</p></h1> <br>
  <p>PADA SUATU HARI</p> <br>

</div>
</div>
<br>
  
</ion-content>
